/GBuilder/Builder/.nb-gradle/
/GBuilder/GBuilder/.nb-gradle/
/Viewer/Viewer/nbproject/private/
/GBuilder/GBuilder/buildSrc/build/
/GBuilder/GBuilder/viewer/build/
/Viewer/Viewer/build/
/Viewer/Viewer/dist/
/GBuilder/GBuilder/.gradle/
/GBuilder/GBuilder/buildSrc/private/
/GBuilder/GBuilder/buildSrc/.gradle/
/Servlet/nbproject/private/
/GBuilder/buildSrc/private/
/GBuilder/viewer/build/
/GBuilder/viewer/dist/
/GBuilder/buildSrc/.gradle/
/GBuilder/.gradle/
/GBuilder/buildSrc/build/
/Viewer/nbproject/private/
/GBuilder/dist/
/GBuilder/viewer/copyDir/
/GBuilder/viewer/packageDir/
/GBuilder/servlet/dist/
/GBuilder/viewer/copyDirectory/
/GBuilder/viewer/packageDirectory/